@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 215 14% 34%;
    --card: 0 0% 100%;
    --card-foreground: 215 14% 34%;
    --popover: 0 0% 100%;
    --popover-foreground: 215 14% 34%;
    --primary: 172 39% 54%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 0 0% 100%;
    --accent-foreground: 215 14% 34%;
    --destructive: 276 11% 23%;
    --destructive-foreground: 0 0% 100%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 215 14% 34%;
    --tan: 35 27.5% 85%;
    --radius: 0.5rem;
    --chart-1: 158 39% 48%;
    --chart-2: 180 70% 45%;
    --chart-3: 30 90% 50%;
    --chart-4: 280 75% 50%;
    --chart-5: 340 85% 60%;
    
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 276 11% 23%;
    --sidebar-primary: 215 14% 34%;
    --sidebar-primary-foreground: 210 40% 96.1%;
    --sidebar-accent: 210 40% 96.1%;
    --sidebar-accent-foreground: 276 11% 23%;
    --sidebar-border: 214.3 31.8% 91.4%;
    --sidebar-ring: 215 14% 34%;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 30 45% 55%;
    --primary-foreground: 0 0% 100%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 172 60% 54%;
    --accent-foreground: 210 40% 98%;
    --destructive: 276 11% 23%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 215 20.2% 65.1%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Custom placeholder for contentEditable div */
[contenteditable]:empty::before {
  content: attr(placeholder);
  color: #a1a1aa; /* gray-400 */
  pointer-events: none;
  display: block; /* For FF */
}

@media print {
  body * {
    visibility: hidden;
  }
  #invoice-preview, #invoice-preview *,
  #printable-area, #printable-area * {
    visibility: visible;
  }
  #invoice-preview,
  #printable-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
  }
}
